# 그룹화(group ) 실습 ---------
- DF/SR.groupby() 메서드로 생성
- 그룹단위로 평균, 최대, 최소 등과 같은 집계 메서드 적용

In [208]:
# module import
import pandas as pd
import numpy as np

In [209]:
df = pd.DataFrame(
    [
        ("bird", "Falconiformes", 389.0),
        ("bird", "Psittaciformes", 24.0),
        ("mammal", "Carnivora", 80.2),
        ("mammal", "Primates", np.nan),
        ("mammal", "Carnivora", 58),
    ],
    index=["falcon", "parrot", "lion", "monkey", "leopard"],
    columns=("class", "order", "max_speed"),
)

In [210]:
df.head()

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [211]:
print(f'df.columns = {df.columns}', f'df.index = {df.index}', sep='\n')

df.columns = Index(['class', 'order', 'max_speed'], dtype='object')
df.index = Index(['falcon', 'parrot', 'lion', 'monkey', 'leopard'], dtype='object')

In [212]:
# 객체변수명.groupby(컬럼명)
classGroup = df.groupby(by='class')
classGroup

In [213]:
# __iter__ 반복이 가능한 객체 => for ~ in 
for group in classGroup:
    print(group)

('bird',        class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0)
('mammal',           class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0)

In [214]:
for key, group in classGroup:
    print(f'key = {key}')
    print(f'group = \n{group}\n')

key = bird
group =
       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

key = mammal
group =
          class      order  max_speed
lion     mammal  Carnivora       80.2
monkey   mammal   Primates        NaN
leopard  mammal  Carnivora       58.0

In [215]:
# GroupBy 객체 속성 살펴보기
# 그룹키 : [요소 인덱스 ...]
classGroup.groups

{'bird': ['falcon', 'parrot'], 'mammal': ['lion', 'monkey', 'leopard']}

In [216]:
# 특정 그룹키에 해당하는 데이터만 추출 => get_group(키)
classGroup.get_group('bird')

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [217]:
# 그룹 전체에 대한 메서드 적용
classGroup.describe()

       max_speed
           count   mean         std   min     25%    50%     75%    max
class
bird         2.0  206.5  258.093975  24.0  115.25  206.5  297.75  389.0
mammal       2.0   69.1   15.697771  58.0   63.55   69.1   74.65   80.2

In [218]:
classGroup.describe(include='all')

       order                                                           ...  \
       count unique            top freq mean  std  min  25%  50%  75%  ...
class                                                                  ...
bird       2      2  Falconiformes    1  NaN  NaN  NaN  NaN  NaN  NaN  ...
mammal     3      2      Carnivora    2  NaN  NaN  NaN  NaN  NaN  NaN  ...

       max_speed                                                           \
          unique top freq   mean         std   min     25%    50%     75%
class
bird         NaN NaN  NaN  206.5  258.093975  24.0  115.25  206.5  297.75
mammal       NaN NaN  NaN   69.1   15.697771  58.0   63.55   69.1   74.65


          max
class
bird    389.0
mammal   80.2

[2 rows x 22 columns]

In [219]:
classGroup.mean()

        max_speed
class
bird        206.5
mammal       69.1

In [220]:
# 특정 그룹에 대한 것만 처리 -> get_groups(key)
birdGroup = classGroup.get_group('bird')

In [221]:
birdGroup.describe()

        max_speed
count    2.000000
mean   206.500000
std    258.093975
min     24.000000
25%    115.250000
50%    206.500000
75%    297.750000
max    389.000000

In [222]:
# 집계함수를 한꺼번에 적용 => agg(['함수명', '함수명, ...], axis=0)
birdGroup.agg(['min', 'max', 'sum'])

        class                        order  max_speed
min      bird                Falconiformes       24.0
max      bird               Psittaciformes      389.0
sum  birdbird  FalconiformesPsittaciformes      413.0

In [223]:
birdGroup.agg({'order': 'max', 'max_speed': ['min', 'max']})

              order  max_speed
max  Psittaciformes      389.0
min             NaN       24.0

In [224]:
# 사용자 정의 함수
def getMaxMin(x):
    print(f'x ----------- \n{x}\n')
    return x.max() - x.min()

birdGroup.agg({'max_speed': getMaxMin})

x -----------
389.0

x -----------
falcon    389.0
parrot     24.0
Name: max_speed, dtype: float64

max_speed    365.0
dtype: float64

In [225]:
# 그룹에서 필터링하기 ==> filter(True/False)

In [226]:
birdGroup

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [227]:
result = birdGroup['max_speed'] >= 300
result

falcon     True
parrot    False
Name: max_speed, dtype: bool

In [228]:
classGroup

In [229]:
birdGroup

       class           order  max_speed
falcon  bird   Falconiformes      389.0
parrot  bird  Psittaciformes       24.0

In [230]:
df.groupby('class').filter(lambda s: s['max_speed'].min() >= 20)

          class           order  max_speed
falcon     bird   Falconiformes      389.0
parrot     bird  Psittaciformes       24.0
lion     mammal       Carnivora       80.2
monkey   mammal        Primates        NaN
leopard  mammal       Carnivora       58.0

In [231]:
birdGroup.groupby('max_speed').filter(lambda s: s['max_speed'] >= 300)

       class          order  max_speed
falcon  bird  Falconiformes      389.0

In [232]:
df = pd.DataFrame(
    {
        "A": ["foo", "bar", "foo", "bar", "foo", "bar"],
        "B": [1, 2, 3, 4, 5, 6],
        "C": [2.0, 5.0, 8.0, 1.0, 2.0, 9.0],
    }
)
df

     A  B    C
0  foo  1  2.0
1  bar  2  5.0
2  foo  3  8.0
3  bar  4  1.0
4  foo  5  2.0
5  bar  6  9.0